HTTP status numbers need to be within ranges given in HTTP RFCs

https://github.com/jjrom/resto/blob/a7ef168f961ed55b9d747212c9b9ed60abb2638c/include/resto/Utils/RestoLogUtil.php#L81

These need to be within the existing ranges, of size 100, defined by HTTP in order for the client to understand them. If they are not, clients are within specification to fail to understand these invented status codes. See for example [RFC 2616 section 6.1.1](https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1.1), especially the last paragraph.

Note, RFC 2616 does not require you to use one of the values listed in RFC 2616 section 6.1.1. You're free to invent your own HTTP statuses, if you truly believe that not a single one of the existing statuses is applicable (which would be surprising). But even in that case you should stay within whichever one of the given ranges is applicable.

I do not invent HTTP status code. The code you are referencing are provided as additional information to an HTTP 200 OK response that did not really succeeded. This is a bad practice for sure but I had requirements from client side that was difficult to handle only with http codes due to the lack of granularity and the very specific requirement. So we decided for theses very specific cases to return an HTTP 200 OK response with additional JSON error block indicating that in fact the request did not success for a specific reason. This is historical and cannot be changed right now since existing clients use this functionality (note that the resto proprietary fork don't use these code and strictly relies on HTTP status code)

So in any case resto always returns HTTP codes within the range of valid HTTP codes.


I understand your explanation that this is a workaround for a broken client, but this is very unfortunate behaviour. It basically means that all other clients need to be broken in similar ways - they all need to disregard the HTTP status and instead look at these error codes.

Which broken client(s) are you referring to - are they open source? Can I have a look at them?
If they send recognisable requests (eg, they transmit a unique user-agent header), then this behaviour could be made conditional on receipt of that header.

Like my other issues, if there is any hope of fixing this, I would like to try, so feel free to re-open and assign to me. Please don't leave this closed unless you know that there is no hope ever of fixing this.

The client are know are not open source - and there are probably other clients I don't know that use this code. However we could update the version number to indicate a breaking change. Clients could then update or not resto version depending on the work they would have to do to align with new API
I re-open this issue. Thanks for your proposed work !

Corrected in resto v5 (https://github.com/jjrom/resto/commit/1dc86e5e71290e0ac406d838996c8f707aaa0f24)